[Unit]
Description=spamassassin housekeeping stuff
After=network.target

[Service]
#User=spamd
#Group=spamd
Type=oneshot

# remove --allowplugins, if you do not want plugin updates from SA.
ExecStart=sudo -u spamd /usr/bin/vendor_perl/sa-update --allowplugins
SuccessExitStatus=1
ExecStart=sudo -u spamd /usr/bin/vendor_perl/sa-compile
ExecStart=/usr/bin/systemctl -q --no-block try-restart spamassassin.service

# uncomment the following ExecStart line to train SA's bayes filter
# and specify the path to the mailbox that contains spam email(s)
#ExecStart=/usr/bin/vendor_perl/sa-learn --spam <path_to_your_spam_mailbox>
